.body{
    background-color: #ffca22;
   
}

.myopia{
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.modal{
    display: none;
    position:fixed;
    z-index: 10;
    padding-top: 15%;
    left: 0;
    top: 0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.4);

}

.modal-content{
    background-color: white;
    margin: auto;
    padding: 32px;
    border: 1px solid #333;
    width: 60%;
    border-radius: 15px;
    box-shadow: 9px 10px #555555ff;
}
#modal-header{
    margin: 0px 0px 0px -32px;
    background-color: brown;
    padding: 5px;
    text-align:left;
    color:white;
    text-transform: uppercase;
}
.groupNames{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.moreInfo{
    font-style:italic;
    color:#444;
}



