<ion-card color = "light" style = "margin: 0px;">
  <ion-card-content style="padding:0px;">
    <ion-img src = "../../../assets/images/sfnBanner.png"></ion-img>
    <ion-item   style = "margin-top: -10px;">
      <ion-grid>
        <ion-row style="text-align: center;">
          <ion-col><ion-text color = "dripblue" style="font-weight: bolder;font-size: larger;" [routerLink] = "['/']">HOME</ion-text></ion-col>
          <ion-col><ion-text color = "dripblue" style="font-weight: bolder;font-size: larger;"[routerLink] = "['/events']">EVENTS</ion-text></ion-col>
          <ion-col><ion-text color = "dripblue" style="font-weight: bolder;font-size: larger;"[routerLink]>GALLERY</ion-text></ion-col>
          <ion-col><ion-text color = "dripblue" style="font-weight: bolder;font-size: larger;"[routerLink]>VOLUNTEERS</ion-text></ion-col>
          <ion-col><ion-text color = "dripblue" style="font-weight: bolder;font-size: larger;"[routerLink]>SPOTLIGHT</ion-text></ion-col>
          <ion-col><ion-text color = "dripblue" style="font-weight: bolder;font-size: larger;"[routerLink]>SUPPORTERS</ion-text></ion-col>
          <ion-col><ion-text color = "dripblue" style="font-weight: bolder;font-size: larger;"[routerLink]>ABOUT US</ion-text></ion-col>
          <ion-col><ion-text color = "dripblue" style="font-weight: bolder;font-size: larger;"[routerLink]>CONTACT</ion-text></ion-col>
          <ion-col><ion-text color = "dripblue" style="font-weight: bolder;font-size: larger;"[routerLink] = "['/login']">LOG IN</ion-text></ion-col>
        </ion-row>
      </ion-grid>

    </ion-item>
 
  </ion-card-content>
</ion-card>