
<ion-item>
<ion-card color = "light" style = "margin: 0px;width: 100%;">
  <ion-card-header style = "padding: 0px;">
    <ion-img src = "sfnBanner.png"></ion-img>
  </ion-card-header>
 
  <ion-card-content style="padding:0px;">
 

      <ion-grid style = "padding: 0px;">
        <ion-row style="text-align: center;">
          <ion-col class = "headerText" [routerLink] = "['/']"><ion-text >HOME</ion-text></ion-col>
          <ion-col class = "headerText" [routerLink] = "['/events']"><ion-text  >CALENDAR</ion-text></ion-col>
          <ion-col class = "headerText"><ion-text [routerLink] = "['/apply']">APPLY</ion-text></ion-col>
          <ion-col class = "headerText"><ion-text [routerLink] = "['/supporters']">SUPPORTERS/CONTRIBUTORS</ion-text></ion-col>
          <ion-col class = "headerText"><ion-text [routerLink] = "['/about-us']">ABOUT US</ion-text></ion-col>
          <ion-col class = "headerText" *ngIf = "jwt.length > 0" [routerLink] = "['/login']"><ion-text >SFN DASHBOARD</ion-text></ion-col>
          <ion-col class = "headerTextLogout" *ngIf = "jwt.length > 0" (click) = "logout()"><ion-text >LOGOUT</ion-text></ion-col>
          <ion-col class = "headerText" *ngIf = "jwt.length == 0" [routerLink] = "['/login']"><ion-text >LOG IN</ion-text></ion-col>
        </ion-row>
      </ion-grid>


  </ion-card-content>
</ion-card>
    
</ion-item>
