.headerText{
    padding: 4px;
    background-color: #4585ef;
    color:white;
     font-weight: bolder;
     font-size: larger;
    
}

.headerTextLogout{
    padding: 4px;
    background-color: #be1600;
    color:white;
     font-weight: bolder;
     font-size: larger;
    
}

.headerTextLogout:hover{
    background-color:#9c0400;
    
}

.headerText:hover{
    background-color:#2363cd;
    
    
}