<ion-card color = "leaf">
  <ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col size = "2">
          <ion-text style="text-align: left;">
            <h1 style="color:white;padding-left: 5%;font-size: xx-large;padding-top: 0%;">Special Friend Info</h1>
          </ion-text>
        </ion-col>
        <ion-col size = "10"></ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-header>
  <ion-card-content style="padding: 0px 4px 4px 4px;">
    <ion-item >
      <form style="width: 100%">
        <ion-grid>

          <ion-row>
            <hr>
          </ion-row>

          <ion-row>
            <ion-col size = "1.5"></ion-col>
            <ion-col size = "2">
              <ion-text >
                <h3 style="color: black;font-size: x-large;padding-top: 5%;">How can we help to comfort you?</h3>
              </ion-text>
            </ion-col>
            <ion-col>
              <ion-item> <ion-input name ="howToComfort" [(ngModel)] = "specialFriendInput.howToComfort" type = "text" placeholder="Ex. When I get stressed it's helpful for someone to call my name calmly and help me to calm down."></ion-input></ion-item>
            </ion-col>
            <ion-col size = "1.5"></ion-col>
          </ion-row>

          <ion-row>
            <hr>
          </ion-row>

          <ion-row >
            <ion-col size = "2.5"></ion-col>
            <ion-col size = "2">
              <ion-text>
                <h3 style="color: black;font-size: x-large;padding-top: 5%;">Would you like to be a BirthdayClub member?</h3>
              </ion-text>
            </ion-col>
            <ion-col size = "1">
               <ion-toggle name = "cost" style = "padding-top: 10%" color = "tertiary" [(ngModel)] = "specialFriendInput.isBirthdayClubMember"></ion-toggle>
            </ion-col>
            <ion-col size = "1"></ion-col>
            <ion-col size = "2">
              <ion-text>
                <h3 style="color: black;font-size: x-large;padding-top: 5%;">Is the cost of an event a large factor?</h3>
              </ion-text>
            </ion-col>
            <ion-col size = "1">
               <ion-toggle style = "padding-top: 10%" color = "tertiary" name = "cost" [(ngModel)] = "specialFriendInput.isCostAFactor"></ion-toggle>
            </ion-col>
            <ion-col size = "2">
             
            </ion-col>
            <ion-col size = "2.5"></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size = "2.5"></ion-col>
            <ion-col size = "3.5">
              <ion-text>
                <h3 style="color: black;font-size: larger;padding-top: 5%;">SFN says happy birthday to members and sends them a card plus a small gift!</h3>
              </ion-text>
            </ion-col>
            <ion-col size = ".5">
            </ion-col>
            <ion-col size = "3.5">
              <ion-text>
                <h3 style="color: black;font-size: larger;padding-top: 5%;">Some of our events cost a couple of dollars, we want to ask if its a worry for our Special Friends</h3>
              </ion-text>
            </ion-col>
          </ion-row>

        </ion-grid>
      </form>
    </ion-item>
  </ion-card-content>
</ion-card>
