ion-toggle{
    height: 50px;
     width: 98%;   
     --handle-width: 40px;
     --handle-height: 40px;
     --handle-max-height: auto;
     --handle-spacing: 5px;
     --handle-border-radius: 10px
}