<app-header></app-header>
<app-error-banner [error] = "bannerInfo"></app-error-banner>
<ion-content>

    <ion-grid>
      <ion-row>
        <ion-col size = "3">
          <ion-card color = "tertiary">
            <ion-card-header >
              <ion-text  style="text-align: center;"><h1 >Team Members</h1></ion-text>
            </ion-card-header>
            <ion-card-content style = "padding: 0px 4px 4px 4px;" >
             <ion-item *ngFor="let acc of accounts"   color = "light-tert" >
              <ion-grid >
                <ion-row >
                  <ion-col size = "8">
                    <ion-grid>
                      <ion-row><ion-text style = "color:#fee"><h1>{{acc.name}}</h1></ion-text></ion-row>
                      <ion-row><ion-text style = "color:#fee"><h4 >{{acc.email}}</h4></ion-text></ion-row>
                    </ion-grid>
                </ion-col>
                <ion-col>
                  <ion-checkbox style ="--size: 30px;--border-radius:50%"></ion-checkbox>
                </ion-col> </ion-row>
                <ion-row><hr></ion-row>
              </ion-grid>
             </ion-item>
             <ion-grid>
              <ion-row>
                <ion-col size = "6">
                  <ion-button *ngIf = "accPage > 0" size="large" color="light" expand="block" (click) = "decPageAcc()">&lt;</ion-button>
                </ion-col>
                <ion-col>
                  <ion-button *ngIf = "accPage < accMax" size="large" color="light" expand="block" (click) = "incPageAcc()">&gt;</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
            </ion-card-content>
          </ion-card>
         
          
        </ion-col>
        <ion-col size = "3">
          
        
          <ion-card color = "ruby">
            <ion-card-header >
              <ion-text style="text-align: center;"><h1>Special Friends</h1></ion-text>
            </ion-card-header>
            <ion-card-content style = "padding: 0px 4px 4px 4px;" >
             <ion-item *ngFor="let sf of sFriends"   color = "light-ruby" >
              <ion-grid >
                <ion-row >
                  <ion-col size = "8">
                    <ion-grid>
                      <ion-row><ion-text style = "color:#fee"><h1>{{sf.name}}</h1></ion-text></ion-row>
                      <ion-row><ion-text style = "color:#fee"><h4 >{{sf.email}}</h4></ion-text></ion-row>
                    </ion-grid>
                </ion-col>
                <ion-col>
                  <ion-checkbox style ="--size: 30px;--border-radius:50%"></ion-checkbox>
                </ion-col> </ion-row>
                <ion-row><hr></ion-row>
              </ion-grid>
             </ion-item>
             <ion-grid>
              <ion-row>
                <ion-col size = "6">
                  <ion-button  *ngIf = "sfPage > 0" size="large" color="light" expand="block" (click) = "decPageSF()">&lt;</ion-button>
                </ion-col>
                <ion-col>
                  <ion-button *ngIf = "sfPage < sfMax" size="large" color="light" expand="block" (click) = "incPageSF()">&gt;</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
            </ion-card-content>
          </ion-card>
         
          
        </ion-col>
        <ion-col>
          <ion-card color = "purp">
            <ion-card-header>
              <ion-text style = "text-align: center;"><h1>Create Group</h1></ion-text>
            </ion-card-header>
            <ion-card-content style = "padding: 0px 4px 4px 4px;" >
              <ion-item color = "light-purp" >
                <form style="width: 100%">
               <ion-grid >
                <ion-row >
                  <ion-col size = "2">
                    <ion-text style="color: white;"><hr><h2>Group Name:</h2></ion-text>
                  </ion-col>
                  <ion-col>
                    <ion-item >
                      <ion-input style="width: 100%;" type="text" min="0" max="30" required=""></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size = "2">
                    <ion-text style="color: white;"><hr><h2>Group Description:</h2></ion-text>
                  </ion-col>
                  <ion-col>
                    <ion-item >
                      <ion-textarea style="width: 100%;" type="text" min="0" max="30" required=""></ion-textarea>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size = "2">
                    <ion-text style="color: white;"><hr><h2>Group Permissions:</h2></ion-text>
                  </ion-col>
                  <ion-col>
                    <ion-item >
                      <div *ngFor = "let r of roles">{{r.id}} {{r.role}}</div>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size = "2">
                    <ion-text style="color: white;"><hr><h2>Current Members:</h2></ion-text>
                  </ion-col>
                  <ion-col>
                    <ion-item >
                     
                    </ion-item>
                  </ion-col>
                </ion-row>
               
              </ion-grid>
            </form>
             </ion-item>
             </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
