

<ion-content>
    <app-header></app-header>
    <ion-grid style = "text-align: center;">
        <ion-row>
            <ion-col style = "text-align: center;">
                <ion-text> 
                     <h1 style="font-size:40pt;">Supporters/Contributors</h1>
                </ion-text>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-img style = "height:120px" src = "mario.png"></ion-img>
                            </ion-col>
                            <ion-col size = "10">
                                <ion-text><p style = "font-size: larger;  ">
                                    <em>
                                    Thank you to our friends at East Side Mario's Milton for always offering a fun, friendly and inclusive experience. 
                                    East Side Mario's Milton is a proud supporter of the SFN and a favourite venue for our events.
                                    </em>
                                </p></ion-text>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-img style = "height:120px" src = "dads.png"></ion-img>
                            </ion-col>
                            <ion-col size = "10">
                                <ion-text><p style = "font-size: larger;  ">
                                    <em>
                                        The Dads of Milton (DOM's) are a wonderful group of gentlemen from Milton, Ontario that give back to the community and support groups and individuals in Halton. We would like to express our deepest gratitude to the DOM's for your continued love and support. And Especially for the Amazing Golf Tournament you held in support of the SFN!
                                    </em>
                                </p></ion-text>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-img style = "height:120px" src = "limo.png"></ion-img>
                            </ion-col>
                            <ion-col size = "10">
                                <ion-text><p style = "font-size: larger;  ">
                                    <em>
                                        Thank you so much to Majestic Limo Services for you short notice supply of a Limo AND for working within our budget. Getting us to WE Day 2019 safe and sound. Sarah our driver was patient, kind and got us there on time!
                                    </em>
                                </p></ion-text>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-img style = "height:120px" src = "victor.png"></ion-img>
                            </ion-col>
                            <ion-col size = "10">
                                <ion-text><p style = "font-size: larger;  ">
                                    <em>
                                        Shout out to John Victor's Automotive (2320 Dixie Rd. Mississauga, 905 275-7900) 
Thank you for your generous contribution towards our Limo to and From WE day 2019.
We know how important travel safety is to you.
                                    </em>
                                </p></ion-text>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-img style = "height:120px" src = "myplace.png"></ion-img>
                            </ion-col>
                            <ion-col size = "10">
                                <ion-text><p style = "font-size: larger;  ">
                                    <em>
                                        Thank you to My Place Learning Centre for the use of their space and wonderful hospitality!  We couldn't do it without the help of community partners like you!
                                    </em>
                                </p></ion-text>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
            </ion-col>
        </ion-row>  
    </ion-grid>
    <app-footer></app-footer>
</ion-content>
